body{
  font-family: Arial, sans-serif;
  background:#f4f4f4;
  text-align:center;
  padding:50px;
}

h1{
 color:white;
  background: linear-gradient(90deg,#ff6a00,#ee0979);
  padding:15px;
  border-radius:10px;
  margin:15px auto;
  width:60%;
}

button{
  background:#007bff;
  color:white;
  padding:10px 20px;
  border:none;
  border-radius:6px;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background:#0056b3;
}